<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <ul id="title">
    hello!
    <%= user.username %>
  </ul>

  <ul id="list">
    <% macs.forEach(function(item) { %>
    <li>
      <%= item.device_id %> /
      <%= item.mac %> /
      <%= item.status %>
    </li>
    <% }); %>
  </ul>
  
  <div id="macmapping" user_id="<%= user._id %>">
    Device_id:
    <input type="text" name="deviceid">
    Mac:
    <input type="text" name="mac">
    <input type="submit" value="Submit">
  </div>
  
  <script>
    document.querySelector('#macmapping input[type="submit"]').onclick = function(){
      var device_id = document.querySelector('#macmapping input[name="deviceid"]').value;
      var mac = document.querySelector('#macmapping input[name="mac"]').value;
      var user_id = document.getElementById("macmapping").getAttribute('user_id');
      axios.post('/macmapping', {
        user_id,
        mac,
        device_id
      })
      .then(function (response) {
        console.log(response.data);
      })
      .catch(function (error) {
        console.log(error);
      });

    };
  </script>
  
</body>
</html>

